In [1]:
import requests;
import pandas as pd;
from io import BytesIO;

## Dataset Discovery

In [2]:
response = requests.get("https://api.beta.ons.gov.uk/v1/datasets");

datasets = response.json().get("items");

In [3]:
print(datasets[0].keys());

dict_keys(['contacts', 'description', 'keywords', 'id', 'last_updated', 'links', 'methodologies', 'national_statistic', 'next_release', 'qmi', 'related_datasets', 'release_frequency', 'state', 'title', 'unit_of_measure'])

In [7]:
for dataset in datasets:
    datasetId = dataset.get("id");
    title = dataset.get("title");
    lastUpdated = dataset.get("last_updated");
    nextRelease = dataset.get("next_release");
    releaseFrequency = dataset.get("release_frequency");

    print(f'{datasetId:s}, {title:s}, {lastUpdated:s}, {nextRelease:s}, {releaseFrequency:s}');

wellbeing-quarterly, Quarterly personal well-being estimates, 2023-12-13T09:40:24.204Z, TBC, Quarterly
wellbeing-local-authority, Personal well-being estimates by local authority, 2023-12-13T09:40:21.928Z, TBC, Annual
weekly-deaths-region, Deaths registered weekly in England and Wales by region, 2025-08-13T09:32:31.24Z, 20 August 2025, Weekly
weekly-deaths-local-authority, Death registrations and occurrences by local authority and place of death, 2024-01-09T10:10:57.755Z, 17 January 2024, Weekly
weekly-deaths-health-board, Death registrations and occurrences by health board and place of death, 2024-01-09T10:11:08.441Z, 17 January 2024, Weekly
weekly-deaths-age-sex, Deaths registered weekly in England and Wales by age and sex, 2025-08-13T09:32:27.636Z, 20 August 2025, Weekly
uk-spending-on-cards, UK spending on credit and debit cards, 2024-05-16T09:00:13.637Z, To be announced, Weekly
uk-business-by-enterprises-and-local-units, UK Business: Activity, Size and Location, 2022-11-03T09:50:09.932Z, To be announced, Annual
traffic-camera-activity, Traffic Camera Activity, 2024-06-20T09:00:45.082Z, To be announced, Weekly
trade, Trade in goods: country by commodity, 2025-07-14T07:17:43.403Z, 14 August 2025, Monthly
tax-benefits-statistics, Effects of Taxes and Benefits on Household Income, 2022-09-16T06:15:01.401Z, TBA, Annual
suicides-in-the-uk, Suicide registrations in England and Wales by local authority, 2024-09-05T12:10:34.352Z, To be announced, Annually
sexual-orientation-by-region, Sexual orientation by English regions and UK countries, 2023-10-18T09:27:23.046Z, To be announced, Annual
sexual-orientation-by-age-and-sex, Sexual orientation by age and sex, 2023-10-18T09:27:20.485Z, To be announced, Annual
retail-sales-index-large-and-small-businesses, Retail sales index - large and small businesses, 2025-07-25T09:09:33.035Z, 23 May 2025, Monthly
retail-sales-index-all-businesses, Retail sales index - all businesses, 2025-07-25T09:09:26.814Z, 23 May 2025, Monthly
retail-sales-index, Retail sales index, 2025-07-25T09:09:30.332Z, 23 May 2025, Monthly
regional-gdp-by-year, Annual GDP for England, Wales and the English regions, 2023-05-24T08:36:20.126Z, TBA, Annual
regional-gdp-by-quarter, Quarterly GDP for England, Wales and the English regions, 2023-05-24T08:36:17.711Z, To be announced, To be announced
projections-older-people-sex-ratios, Local authority ageing statistics, projected sex ratios for older people, 2020-11-02T11:02:21.237Z, To be announced, Biennial

In [7]:
trade = next(filter(lambda d: d.get("id") == "trade", datasets), None);
latestTradeDatasetLink = trade.get('links').get('latest_version').get('href');
tradeDatasetResponse = requests.get(latestTradeDatasetLink);

print(tradeDatasetResponse.json());

{'alerts': [], 'collection_id': 'cmdtrade-284a77f416fe8409d6f3b92a1d8a72669ee97749bacd7221825f7faf33b41cb4', 'dimensions': [{'label': 'time', 'links': {'code_list': {}, 'options': {}, 'version': {}}, 'href': 'https://api.beta.ons.gov.uk/v1/code-lists/mmm-yy', 'id': 'mmm-yy', 'name': 'time'}, {'label': 'geography', 'links': {'code_list': {}, 'options': {}, 'version': {}}, 'href': 'https://api.beta.ons.gov.uk/v1/code-lists/uk-only', 'id': 'uk-only', 'name': 'geography'}, {'label': 'standardindustrialtradeclassification', 'links': {'code_list': {}, 'options': {}, 'version': {}}, 'href': 'https://api.beta.ons.gov.uk/v1/code-lists/sitc', 'id': 'sitc', 'name': 'standardindustrialtradeclassification'}, {'label': 'countriesandterritories', 'links': {'code_list': {}, 'options': {}, 'version': {}}, 'href': 'https://api.beta.ons.gov.uk/v1/code-lists/countries-and-territories', 'id': 'countries-and-territories', 'name': 'countriesandterritories'}, {'label': 'direction', 'links': {'code_list': {}, 'options': {}, 'version': {}}, 'href': 'https://api.beta.ons.gov.uk/v1/code-lists/trade-direction', 'id': 'trade-direction', 'name': 'direction'}], 'downloads': {'csv': {'href': 'https://download.ons.gov.uk/downloads/datasets/trade/editions/time-series/versions/59.csv', 'size': '563184513'}, 'csvw': {'href': 'https://download.ons.gov.uk/downloads/datasets/trade/editions/time-series/versions/59.csv-metadata.json', 'size': '1747'}}, 'edition': 'time-series', 'id': '5da21db7-ed9e-40e1-b4a1-c2415abfa087', 'last_updated': '2025-08-15T11:14:09.194Z', 'latest_changes': [], 'links': {'dataset': {'href': 'https://api.beta.ons.gov.uk/v1/datasets/trade', 'id': 'trade'}, 'dimensions': {}, 'edition': {'href': 'https://api.beta.ons.gov.uk/v1/datasets/trade/editions/time-series', 'id': 'time-series'}, 'self': {'href': 'https://api.beta.ons.gov.uk/v1/datasets/trade/editions/time-series/versions/59'}}, 'release_date': '2025-08-15T00:00:00.000Z', 'state': 'published', 'usage_notes': [], 'version': 59, 'type': 'v4'}

In [8]:
tradeDatasetLink = tradeDatasetResponse.json().get("downloads").get("csv").get("href")
tradeDataset = requests.get(tradeDatasetLink)

In [9]:
pd.read_csv(BytesIO(tradeDataset.content))

,v4_0,mmm-yy,Time,uk-only,Geography,sitc,StandardIndustrialTradeClassification,countries-and-territories,CountriesAndTerritories,trade-direction,Direction
0,3237.00,Jan-18,Jan-18,K02000001,United Kingdom,0,0: Food & live animals,W1,W1 - Whole world,IM,Imports
1,312.00,Jan-18,Jan-18,K02000001,United Kingdom,07,"07: Coffee, tea, cocoa etc",W1,W1 - Whole world,IM,Imports
2,175.00,Jan-18,Jan-18,K02000001,United Kingdom,08,08: Animal feeding stuffs,W1,W1 - Whole world,IM,Imports
3,865.00,Jan-18,Jan-18,K02000001,United Kingdom,2,2: Crude materials,W1,W1 - Whole world,IM,Imports
4,2.00,Jan-18,Jan-18,K02000001,United Kingdom,21,"21: Hides, skins & furskins",W1,W1 - Whole world,IM,Imports
...,...,...,...,...,...,...,...,...,...,...,...
5291455,0.30,Jun-25,Jun-25,K02000001,United Kingdom,8,8: Miscellaneous manufactures,ZW,ZW - Zimbabwe,EX,Exports
5291456,0.00,Jun-25,Jun-25,K02000001,United Kingdom,83,"83: Travel goods, handbags etc",ZW,ZW - Zimbabwe,EX,Exports
5291457,0.41,Jun-25,Jun-25,K02000001,United Kingdom,7MI,7MI: Mechanical machinery (intermediate),ZW,ZW - Zimbabwe,EX,Exports
5291458,0.00,Jun-25,Jun-25,K02000001,United Kingdom,85,85: Footwear,ZW,ZW - Zimbabwe,EX,Exports
5291459,0.00,Jun-25,Jun-25,K02000001,United Kingdom,89K,89K: Other manufactures (capital),ZW,ZW - Zimbabwe,EX,Exports

# Dataset filtering
Need to first create a filter then query it. The

In [24]:
datasetFilterUrl = f'https://api.beta.ons.gov.uk/v1/filters';
filterPayload = {
        "dataset": {
            "id": "trade",
            "edition": "time-series", 
            "version": "59"
        },
        "dimensions": [
            {
                "name": "time",
                "options": ["2023-01", "2023-02", "2023-03"]
            }
        ]
        
    };

response = requests.post(datasetFilterUrl, json=filterPayload)
print(response)

<Response [500]>

<Response [404]>